<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post form submission</title>
</head>
<body>
    <h1>Index Page</h1>

    <h2>Create a user</h2>
    <form action="/users" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <input type="submit" value="create user">
    </form>

    <!-- 
        Let's say that we have 2 forms (example: one for logging in, one for registration)
        How will we know which is which?
        Answer: Create hidden inputs with values related to the form!
        Example: <input type="hidden" name="which_form" value="login">

        Let's see this in action:
        (note: this will appear in html, but the route does not exist)
    --> 
    <form action="/hidden_forms" method="post">
        <input type="hidden" name="which_form" value="register">
        <input type="number" name="number" id="number">
        <input type="submit" value="Register!">
    </form>

    <form action="/hidden_forms" method="post">
        <input type="hidden" name="which_form" value="login">
        <input type="text" name="text" id="text">
        <input type="submit" value="Log-in!">
    </form>

    <!-- In the /hidden_forms route we could do something like to process 
    appropriately baesd on which form was submitted:
        if request.form['which_form'] == 'register':
            pass
        elif request.form['which_form'] == 'login':
            pass

            BE AWARE: USERS CAN EASILY CHANGE THE VALUES OF HIDDEN (OR ANY)
            FORM VALUE. PLEASE BE CAREFUL WITH WHAT YOU PUT IN THESE VALUES!
-->


</body>
</html>